/**
## General styles
This stuff can be ported from experiment to experiment.
*/

/** We want the page to sit flush inside the browser window - that means no margins or padding. Also, use a nice-looking serif font. */
body {
	padding: 0;
	margin: 0;
	font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
	font-size: 14px;
	line-height: 20px;
}

p {
    font-size: 18px;
}



#instructions {
  text-align: center;
}


/** We manage display using "slides". A slide is a <code>div</code> that takes up the entire page. Only one slide should be visible at a time. Navigation between slides is most sensibly accomplished using buttons, rather than keyboard events. */
.slide {
	width: 95%;
	height: 95%;
	display: none;
	position: absolute;
	margin: 0;
	margin-left: 0.5%;
	
	padding: 1% 2% 1% 2%;
}

input, select, button {font-family: Georgia, serif; font-size: 14px;}

/**
## Experiment-specific styles
This stuff will vary by experiment.
*/


.block-text {
  width: 500px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
}

/*adjust so pictures fit comfortably in the middle of the screen (as opposed to too high or too low)*/
#objects {
	margin-top: 150px;
}

/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
    overflow-y:scroll; 
    font-size: 18px;
}

/* make buttons prettier */


button {
	background-color:#BCED91;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#bced91;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	padding-top: 10px;
	padding-bottom: 10px;
}

button:hover {
	background-color:#61B329;
}
button:active {
	position:center;
	top:1px;
}
